
<div id="login" class="body-login">  
<div class="container-fluid login ">
    <div class="row ">
      <div class="col-4">
      </div>
      <div class="col-4 " >
          
      </div>
    </div>
    <div class="row">
      <div class="col-4">
       </div>
      <div class="col-4 ">
        <form method="post" class="input">
          <input type="email" style="margin-top:5px;" placeholder="e-mail">
          <input type="password" style="margin-top:5px;" placeholder="contraseña">
          <button type="button" style="margin-top:5px; margin-bottom: 5px;" class="btn btn-primary">Entrar</button>
          <a href="index.html"><button type="button" style="margin-top:5px; margin-bottom: 5px;" class="btn btn-primary">Volver</button></a>
        </form>
      </div>
    </div>
  </div>
</div>