<div class="container-fluid">
    <div class="row justify-content-betwee">
        <div class="col">
            <img src="/assets/imagenes/argprog.png" alt="Logo" width="100" height="70" class="d-inline-block align-text-center logo"> #YoProgramo
        </div>
        <div class="col">
            <nav>
                <ul>
                    <li>
                        <a href="#"><img src="/assets/imagenes/instagram.svg" alt="instagram" width="30" height="30"> </a>
                    </li>
                    <li>
                        <a href="#"><img src="/assets/imagenes/facebook.svg" alt="facebook" width="30" height="30"></a>
                    </li>
                    <li>
                        <a href="#"><img src="/assets/imagenes/whatsapp.svg" alt="whatsapp" width="30" height="30"> </a>
                    </li>
                    <li>
                        <a routerLink="login"><button class="btn btn-primary">Login </button></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>